/*------------common--------------*/

body, html{
    width:auto;
}

.wrap{
    width:100%;
    margin:0;
}

.top{
    width:100%;
    position: fixed;
    height:60px;
    border-bottom: 1px solid #CBCBCB;
    background-color: white;
    top:0;
    z-index: 1000;
}

#top_title{
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-size: medium;
    color:#687882;
    font-weight: 600;
}

.container_my{
    width:100%;
    position:fixed;
    bottom:0;
    background-color: #f6f6f6;
    margin:0;
    padding: 7px 15px 3px 15px;
    text-align: center;
}

.tab_text{
    font-size:9pt;
    color: #C4C4C4;
    text-align: center;
    vertical-align: middle;
    line-height: inherit;
    margin-bottom: 0 !important;
}

.tab_nav_img{
    width:60%;
    height:60%;
    object-fit:contain;
    vertical-align: middle;
}

.reserve_img{
    width:50%;
    height:50%;
    object-fit:contain;
    vertical-align: middle;
}

.selected{
    color:#7090BD;
}

.contents{
    width:100%;
    margin-top:60px;
    /*margin-bottom:80px;*/
}

.myinfotitle{
    padding: 20px 20px 0 20px;
    list-style: none;
}

.subtitle{
    font-size: 10pt;
    color: #70B5C7;
    text-align: left;
    padding:0;
    margin:0;
    line-height: 30px;
}

/*-------------myaccount.html------------*/

.myinfolist{
    padding: 5%;
    list-style: none;
    border-bottom: 1px solid rgba(203, 203, 203, .5);
}

.subject_title{
    float:left;
    display:inline-block;
    width:80%;
    height:30px;
}

.add_and_sub{
    float:right;
    display:inline-block;
    width:20%;
    text-align: right;
    vertical-align: top;
}

.myinfo{
    width:100%;
    padding:0;
    margin:0;
    list-style: none;
}

.subcategory{
    font-size: 11pt;
    color:#9c9c9c;
    text-align: left;
    padding:0;
    margin:0;
}

.subinfo{
    font-size: 12pt;
    text-align: left;
    color:#9c9c9c;
    padding:0;
    margin:0;
}

.subjects{
    width:100%;
    margin:0;
    padding:0;
    list-style: none;
}

.add_subject{
    font-size:15pt;
    font-weight: 500;
    color:#70B5C7;
    padding:0;
    margin:0;
    display: inline-block;
}

.sub_subject{
    font-size:15pt;
    font-weight: 600;
    color:#F17676;
    padding:0;
    margin:0;
    display: inline-block;
}

.add_subject:hover{
    text-decoration: none;
    color:#70B5C7;
}

.sub_subject:hover{
    text-decoration: none;
    color:#F17676;
}

.familylist{
    width:100%;
    text-align:left;
    overflow-y: auto;
}

.wrap_family{
    display:block;
    width:200%;
}

::-webkit-scrollbar { height: 2px; width: 2px; background-color:#F6F6F6; }
::-webkit-scrollbar-track { background-color: #F6F6F6;}
::-webkit-scrollbar-thumb { background-color: #F6F6F6; }

.subject{
    width:12%;
    margin:0;
    padding:0 3% 0 0;
    display:inline-block;
    float:left;
}

.defaultimg{
    width:100%;
    height:100%;
    object-fit:contain;
    margin:0;
    padding:0;
    text-align:left;
    display:block;
}

.clicked_img{
    width:100%;
    height:100%;
    object-fit:contain;
    margin:0;
    padding:0;
    text-align:left;
    display:block;
    border: 2px solid #84d2e6;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.subjectname{
    font-size: 10pt;
    color: #B8B8B8;
    text-align:center;
    list-style: none;
    margin:5px 0 0 0;
}

.subjectname_my{
    font-size: 10pt;
    /*color: #70B5C7;*/
    color: white;
    text-align:center;
    list-style: none;
    margin: 5px 0 0 0;
    background-color: #84d2e6;
    border-radius:15px;
}

.voice_setting{
    width:100%;
    padding:0;
    margin:0;
    list-style: none;
}

.voice_disable{
    width:80%;
    height:50px;
    display:inline-block;
}

#voice_setting_title{
    color:black;
    font-size: 11.5pt;
    font-weight: 500;
    width:100%;
    margin:0;
    padding:0;
}

#voice_sub_guide{
    color:#9c9c9c;
    font-size:10pt;
    width:100%;
    margin:0;
    padding:0;
    line-height:10.5pt;
    letter-spacing: -1px;
}

#voice_speed_title{
    color:black;
    font-size: 11.5pt;
    font-weight: 500;
    width:100%;
    margin:0 0 10px 0;
    padding:0;
}

.min_title{
    display:inline-block;
    float:left;
    width:50%;
}

.max_title{
    display:inline-block;
    float: right;
    width:50%;
}

.min_title_content{
    text-align: left;
    font-size: 10pt;
    line-height:10pt;
    margin:0;
    color:#9c9c9c;
}

.max_title_content{
    text-align: right;
    line-height:10pt;
    font-size: 10pt;
    margin:0;
    color:#9c9c9c;
}

.chk_box{
    display:block;
    float:right;
    width:20%;
    height:50px;
    text-align: right;
    vertical-align: middle;
    line-height: 50px;
    padding:0 3px 0 0;
}

#chk_voice {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}

.voice_speed{
    margin-top:10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: #BEC1C4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background: #84d2e6;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid white;
    background: #84d2e6;
    cursor: pointer;
}

.text_setting{
    width:100%;
    padding:0;
    margin:0;
    list-style: none;
}

.text_screen{
    width:100%;
    height:100px;
    margin: 20px 0 0 0;
    border:1px solid #84d2e6;
    text-align:center;
    line-height: 100px;
    vertical-align: middle;
}

ul.text_setting li:last-child{
    border:none;
}

#text_demo{
    font-size: 12pt;
    color:black;
    font-weight:500;
    margin:0;
}

.btns{
    width:100%;
    padding:0;
    margin:0;
    list-style: none;
}

.log_out{
    padding: 3%;
    list-style: none;
}

.record{
    padding: 3%;
    list-style: none;
    border-top: 1px solid rgba(203, 203, 203, .5);
    border-bottom: 1px solid rgba(203, 203, 203, .5);
}

._btn{
    font-size: 10pt;
    color: #70B5C7;
    text-align: right;
    padding:0;
    margin:0;
    line-height: 30px;
}

/*.remove{
    font-size:15pt;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight:600;
    text-align:center;
    margin:0;
    color:red;
    display: none;
}*/

.cancel_img{
    width:30%;
    height:30%;
    object-fit:contain;
}

.dialog_header{
    width:100%;
    border-bottom: 1px solid #CBCBCB;
    padding: 3% 5% 3% 5%;
    display:inline-block;
}

.ui-widget-overlay {
    background: #AAA 50% 50% repeat-x !important;
    opacity: .70 !important;
    filter: Alpha(Opacity=70) !important;
}

.ui-dialog .ui-dialog-content{
    padding:0 !important;
}

.dialog_title{
    float:left;
}

.close_btn{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color:rgba(203, 203, 203, .5);
    color:white;
    float:right;
    margin:0;
    font-weight:600;
}

.dialog_footer{
    text-align:right;
    padding: 5% 5% 5% 0;
    border-top: 1px solid #CBCBCB;
    clear:both;
}

.family_cancel {
    display:inline-block;
    margin: 0;
    padding: 4px 10px 4px 10px;
    background-color: #ffffff;
    border: 2px solid #84d2e6;
    color: #70B5C7;
    text-align: center;
    border-radius: 11pt;
    letter-spacing: -0.1em;
}

.family_modify{
    display:inline-block;
    margin: 0;
    padding: 4px 10px 4px 10px;
    background-color: #84d2e6;
    border: 2px solid #84d2e6;
    color: white;
    text-align: center;
    border-radius: 11pt;
    letter-spacing: -0.1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    font-size: 10.5pt !important;
}

.famliyinfolist{
    list-style: none;
    padding: 3% 0 3% 5%;
    margin:0;
}

.famliyinfo{
    list-style: none;
    text-align:left;
    margin:0;
    clear:both;
}

.listtitle{
    display: inline-block;
    font-size: 10pt;
    color: #70B5C7;
    text-align: left;
    letter-spacing: -0.1em;
    line-height: 30px;
    float:left;
    padding: 0 5% 0 0;
}

.listcontent{
    float:left;
    font-size:11pt;
    text-align: left;
    color: #9c9c9c;
    line-height: 30px;
    letter-spacing: -0.05em;
}

#hidden-iframe{
    display:none;
}

/*------------------add.html------------------*/

.add_subject_content{
    width:100%;
    margin:0;
    padding:0;
    list-style: none;
    border-bottom: 1px solid rgba(203, 203, 203, .5);
}

.add_subject_info{
    display:inline-block;
    width:100%;
    padding: 20px 20px 20px 20px;
    list-style: none;
    vertical-align: bottom;
    margin:0;
}

label{
    margin:0;
}

.element_name{
    width:100%;
    display: inline-block;
}

#subject_name {
    font-size:11pt;
    width:50%;
    border: none;
    border-bottom: 1px solid #CBCBCB;
    text-align: center;
    margin-right:5%;
    color: #9c9c9c;
}

.subject_info_label{
    display:inline-block;
    font-size: 10pt;
    color:#9c9c9c;
    width:20%;
    text-align:left;
    float:left;
    line-height: 10pt;
}

.gender{
    display:inline-block;
    width:10%;
    padding: 1% 0 1% 0;
    font-size:11pt;
    border:1px solid #9c9c9c;
    color:#9c9c9c;
    text-align: center;
    line-height: inherit;
}

.active{
    background-color: #84d2e6 !important;
    color:white !important;
    text-decoration: none !important;
}

.active:hover{
    color:white;
    text-decoration: none;
    background-color: #84d2e6;
}

.gender:hover{
    color:#9c9c9c;
    text-decoration: none;
}

.element_birth{
    width:100%;
    padding: 20px 0 0 0;
}

#subject_birth{
    border:none;
    width:75%;
    border-bottom:1px solid #CBCBCB;
    text-align: center;
    color: #9c9c9c;
    font-size: 11pt;
    padding: 0 0 0 10px;
    outline:none;
}

.element_address{
    width:100%;
    padding: 20px 0 0 0;
}

.element_address2{
    width:100%;
    padding: 20px 0 0 0;
}

#subject_address{
    border:none;
    width:75%;
    border-bottom:1px solid #CBCBCB;
    background-image: url("../img/open-iconic-master/open-iconic-master/png/magnifying-glass-2x.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    color: #9c9c9c;
    font-size: 11pt;
    text-align: center;
}

#subject_address::-webkit-input-placeholder { color: #CBCBCB; font-size:11pt; text-align: left;}

#subject_address_detail{
    border:none;
    width:75%;
    border-bottom:1px solid #CBCBCB;
    text-align: left;
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    color: #9c9c9c;
    font-size: 11pt;
    text-align: left;
}

#subject_address_detail::-webkit-input-placeholder { color: #CBCBCB; font-size:11pt; text-align: left;}

.same_chk_box{
    width:100%;
    display: inline-block;
    padding-top:10px;
}

.element_phone{
    width:100%;
    padding: 20px 0 0 0;
}

.is_same{
    font-size:10pt;
    color:#CBCBCB;
    padding:0 0 0 10px;
}

.element_phone select{
    width:20%;
    border: 1px solid #CBCBCB;
    color:#9c9c9c;
    font-size:11pt;
    float:left;
}

.dash{
    float:left;
    font-size:13pt;
    margin:0;
    padding:0;
    color:#9c9c9c;
}

.phone_number{
    border:none;
    border-bottom:1px solid #CBCBCB;
    text-align: center;
    width:25%;
    float:left;
    padding: 0 2%;
    margin: 0 1%;
    color: #9c9c9c;
    font-size: 11pt;
}

.set_subject{
    width:100%;
    margin:0 0 20px 0;
    padding:0;
    list-style: none;
}

.insert_photo{
    width:100%;
    display:inline-block;
    padding-top:20px;
    text-align: center;
}
#img_upload{
    display:none;
}

#insert_photo_img{
    width: 20%;
    height:20%;
    object-fit: contain;
}

.insert_name{
    width:100%;
    display:inline-block;
    padding-top:10px;
    text-align: center;
}

#set_subject_name{
    width:40%;
    text-align: center;
    border:none;
    border-bottom:1px solid #CBCBCB;
}

#set_subject_name::-webkit-input-placeholder { color: #CBCBCB; font-size:11pt; text-align: center;}

.complete_btn{
    width:100%;
    padding:0 0 10px 0 !important;
    text-align: center;
    margin:0;
}

.btn-info{
    background-color: #84d2e6;
    border:1px solid #84d2e6;
    border-radius: 7px;
}

.my_btn{
    padding:2% 20%;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.invisible{
    display:none;
}

/*-----------reserve.html-----------*/

.neccessary{
    color:#F17676;
    text-align: center;
    vertical-align: top;
    font-size: 10pt;
}

.find_hospital{
    width:100%;
    padding:0;
    margin:0;
    list-style: none;
}

.hospital_address{
    width:100%;
    padding: 20px 0 0 0;
    text-align:center;
}

#hospital_address{
    border:none;
    width:75%;
    border-bottom:1px solid #CBCBCB;
    background-image: url("../img/open-iconic-master/open-iconic-master/png/magnifying-glass-2x.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    color: #9c9c9c;
    font-size: 10pt;
    text-align: left;
}
.hospital_list{
    padding: 7%;
    list-style: none;
    border-bottom: 1px solid rgba(203, 203, 203, .5);
    text-align:center;
}

#hospital_address::-webkit-input-placeholder { color: #CBCBCB; font-size:10pt; text-align: left;}

.btn_area{
    width:100%;
    padding:0 0 5% 0;
    margin:0;
    list-style: none;
}

.hospital_detail{
    width:100%;
    margin:0;
    padding: 5% 0 0 0;
}

#department_sel{
    display:none;
}

#doctor_sel{
    display:none;
}

.hospital_detail select{
    width:100%;
    padding: 3% 0 3% 3%;
    font-size:10pt;
    color: #B1B1B1;;
    border: 1px solid #84d2e6;
}

.blank{
    width:100%;
    padding:3%;
    margin:0;
}

#ul_schedule{
    display:none;
}

.day_and_time{
    padding: 7%;
    list-style: none;
    text-align:center;
}

.reserve_day{
    width:100%;
    margin:0;
    padding: 5% 0 0 0;
    text-align: center;
}

#reserve_date{
    border:none;
    width:75%;
    border-bottom:1px solid #CBCBCB;
    text-align: center;
    color: #9c9c9c;
    font-size: 11pt;
    padding: 0;
    outline:none;
}

.reserve_complete{
    width:100%;
    padding:5% 0 0 0 !important;
    text-align: center;
    margin:0;
}

.reserve_tbl{
    width:100%;
    padding: 5% 0 0 0;
    display:none;
}

.timetable {
    width:100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #70B5C7;
}
.timetable thead {
    background: #84d2e6;
    font-weight: lighter;
    font-size:10pt;
    line-height:10pt;
    color:white;
    text-align: center;
}

.timetable thead>tr>th{
    padding:2%;
    border: 1px solid #70B5C7;
    text-align: center;
}

.timetable tbody>tr>td {
    padding:1.5%;
    font-size:11pt;
    line-height:11pt;
    vertical-align: top;
    border: 1px solid #70B5C7;
    color:#8E8E8E;
    text-align:center;
}

.time_gap{
    margin:0;
}

.btn-reserve_incomplete{
    background-color: #e7e7e7;
    color: white;
    border:1px solid #e7e7e7;
    font-weight:400;
}

.btn-reserve_complete{
    background-color: #84d2e6;
    border:1px solid #84d2e6;
    border-radius: 7px;
    color:white;
    font-weight:400;
}

.possession{
    background-color: #FE9C9C;
}

.popup_search{
    margin:3% 5% 3% 5%;
    border:none;
    width:80%;
    border-bottom:1px solid #CBCBCB;
    color: #9c9c9c;
    font-size: 10pt;
    text-align: left;
    float:left;
}

.search_icon{
    margin: 3% 0 3% 0;
    float:left;
    color: #84d2e6;
}

.search_list{
    clear:both;
    width:90%;
    height: 100px;
    overflow-y:auto;
    border:1px solid #CBCBCB;
    margin:5% 5% 3% 5%;
}

.hospital_name{
    width:100%;
    padding: 4% 5% 4% 5%;
    text-align:left;
    font-size: 11pt;
    line-height:11pt;
    color: #8E8E8E;
    font-weight: lighter;
    margin:0;
}

.hospital_name:hover{
    cursor: pointer;
}

/*-----------smart_reserve.html-----------*/

.department_list{

}

.extra{
    text-align: center;
}

.extra_text{
    width: 100%;
    height:80px;
    border:1px solid #84d2e6;
    text-align: left;
    margin-top: 10px;
    font-size:10pt;
}

.extra_text::-webkit-input-placeholder { color: #CBCBCB; font-size:10pt; text-align: left;}

.register_button{
    text-align: center;
    width: 40%;
    height: 40px;
    background-color: #84d2e6;
    color: #FFFFFF;
    border: 0px;
    border-radius: 10px;
    font-size: 13pt;
    letter-spacing: -0.15em;
}

.cancel_button{
    text-align: center;
    width: 40%;
    height: 40px;
    background-color: white;
    color: #84d2e6;
    border: 2px solid #84d2e6;
    border-radius: 10px;
    font-size: 13pt;
    letter-spacing: -0.15em;
}

.smartbutton{
    margin: 5% 0 10% 0;
    text-align: center;
    list-style: none;
}

/*-----------voice_smart_reserve.html-----------*/


.voice_category{
    width:100%;
    text-align:center;
    padding: 15% 5% 15% 5%;
    margin:0;
    display:inline-block;
    align-content: center;
    float:left;
}

.category_number{
    width:15%;
    text-align:center;
}

.numbers{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.number_img{
    width:15%;
    height:15%;
    margin: 0 3% 0 3%;
    object-fit: contain;
}

.category_detail{
    clear:both;
    padding: 0 13% 10% 13%;
    width:100%;
    text-align:center;
}

.description{
    float:left;
    margin:0;
    padding:0;
    font-size:12pt;
    line-height: 13pt;
}

.response_examples{
    margin:0;
    padding:3% 0 0 0;
    color: #8E8E8E;
    font-size:11pt;
    clear:both;
}

.voice_recognition{
    width:100%;
    padding: 3% 13% 5% 13%;
    text-align: center;
}

#result{
    display: block;
    width:100%;
    min-height: 85px;
    border: 1px solid #8E8E8E;
    margin:0 0 5% 0;
    text-align:center;
    vertical-align: middle;
    font-size: 13pt;
}

#btn-mic span {
    display: inline-block; margin: 1px 0 0 5px; width: 10px; height: 10px;
    border: solid 1px #fff; background: #bbb; border-radius: 50%;
}

#btn-mic.on span { background: green; }

.next_previous{
    position:absolute;
    bottom:0;
    text-align:center;
    width:100%;
    padding: 0 0 5% 0;
}

.prev_btn{
    width:50%;
    display:block;
    float:left;
    text-align:left;
    font-size: 11pt;
    padding: 0 0 0 7%;
    color: #70B5C7;
}

.next_btn{
    width:50%;
    display:block;
    float:right;
    text-align:right;
    font-size: 11pt;
    padding: 0 7% 0 0;
    color: #70B5C7;
}


